.logoo {
    position: fixed;
    top: 60px;
    left: 60px;
    z-index: 999; 
    width: 420px;
    height: 420px;
    background-image: url("logo.PNG");
    background-size: contain;
    cursor: pointer;
    
  }
  
  .logoo:hover {
    background-image: url("logohover.PNG");
    transition: opacity 0.3s ease-in-out;
    
  }

  

.navigation {
    position: fixed;
    top: 100px;
    right: 60px;
  }
  
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation ul li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #0073da;
    font-family: "urbane-rounded", sans-serif;
    font-weight: 900;
    font-style: normal;
  font-size: 28px;
  }
