*{
    padding:0;
    margin:0;
    box-sizing: border-box ;
}

body{

    background:pink;
    font-family: Helvetica, sans-serif;
}

header{

    width: 700px;
    height: 103px;
    background:white;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

main{
    width: 700px;
    background-color: white;
    border: 1px solid black;
}

footer{
    width: 700px;
    background-color: white;
    border: 1px solid black;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}

.site-title {
    font-size: 38px;
}

.compelling {
    font-size: 72px;
    font-weight:700 ;
    text-align: center;
}

.nav-links {
    font-size: 18px;
    font-weight: 500;
}

.info-section-columns {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.info-section {
    height:319px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:30px ;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.info-cta {

    /* padding-top: 110px ; */
}

.cta-main {
    margin: auto;
}

.page {
    width:700px;
    margin:auto;
}